body {
  margin: 0;
  padding: 0;
  background-position: 50% 50%;
}

.home_container {
  height: 100vh;
  
}

.fragments-content {
  // border: 1px solid blue;
}

.menu_bar {
  background-color: $menu_color;
}
