.menu_bar {
  min-height: 60px;
  min-width: 300px;

  .nav-item {
    // border: 1px solid white;
    height: 60px;
    i,
    small {
      color: $text_color_1;
    }
    small {
      font-size: 10px;
    }
  }
}