.menu_bar {
  min-height: 60px;
  min-width: 300px;
  overflow: hidden;

  .nav-item {
    height: 60px;
    i,
    small {
      color: $text_color_1;
    }
    small {
      font-size: 10px;
    }
  }

  .nav-item.active {
    background-color: $color_accent_1;
    i,
    small {
      color: white;
    }
  }
}